.btn {
  background: $blue;
  color: $white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  text-decoration: none;

  &:hover {
    background: darken($blue, 10%);
    color: $white;
  }
}

.btn--secondary {
  background: #888;

  &:hover {
    background: darken(#888, 10%);
  }
}

.btn--login {
  margin-top: $xs-size;
  padding: $xs-size $s-size;
}

.btn--link {
  background: none;

  &:hover {
    background: none;
  }
}
